# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/

# Editor directories and files
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store

# Log files and temp files
*.log
*.tmp

# AWS Key files
*.pem

# Ignore IDE-specific files
.idea/

.secret